body {
  background-image: url(https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-624107.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px; 
  color: whitesmoke;
  padding: 10px;
}

.label {
  font-weight: bold;
  padding: 20px;
}

.form-group {
  margin-bottom: 5px;
}

.burgers{
  margin: 15px;
  text-align: center; 
  background-color: black;
  opacity: 0.65;
  filter: alpha(opacity=30);
  border-radius: 10px;
}

.create-form {
  padding: 10px;
  margin: 5px;
  text-transform: capitalize;
}

h1,h2 {
  text-align: center;
  padding: 15px;
  margin: auto;
}

h1 {
  color: rgb(80, 79, 79);
  background-color: rgba(255, 255, 0, 0.658);
  opacity: 0.60;
  filter: alpha(opacity=30);
  border-radius: 10px;
  font-weight: 200;
}

.btn {
  margin: 15px;
  background-color: silver;
  color: black;
}